*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121113;
    color: #E4E6C3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    font-size: 3rem;
    text-align: center;
}

.container{
    margin-top: 15px;
    padding: 2rem;
    background-color: #2F2F2F;
    border-radius: 5px;
    max-width: 95%;
    margin: 15px auto 0 auto;
}

.container h2{
    font-size: 2rem;
    text-align: center;
    color: #FCFCFC;
}

form{
    width: 50%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    font-size: 25px;
    padding: 15px 25px;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
    transition: border .2s;
}

input:focus{
    border: 4px solid #0077B6;
}

#btnBuscar{
    color: #F6F930;
    background-color: #37123C;
    border: 1px solid #F6F930;
    font-size: 1.3rem;
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    transition: color .5s, background-color .5s;
    cursor: pointer;
}

#btnBuscar:hover{
    background-color: #F6F930;
    color: #37123C;
}

#resultados{
    margin-top: 25px;
    min-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.container__resultados{
    font-size: 1.5rem;
    font-weight: 800;
    background-color: #37123C;
    padding: 10px 25px;
    border-radius: 10px;
    color: #FFFF;
    animation: aparicion .5s ease-in;
}

#error__msg{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 15px 25px;
    background-color: #ff0000;
    display: none;
    animation: aparicion .5s ease-in;
}

.soleado{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(gifs/soleado.gif);
    animation: aparicion .3s ease-in;
}

.nublado{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(gifs/nublado.gif);
    animation: aparicion .3s ease-in;
}

.lloviendo{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(gifs/lluvia.gif);
    animation: aparicion .5s ease-in;
}

.nevando{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(gifs/nevando.gif);
    animation: aparicion .5s ease-in;
}

/* Responsive */
@media (max-width: 880px) {
    #resultados{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 1.4em;
    }

    #error__msg{
        margin-top: 15px;
    }
    
    .container{
        margin-bottom: 15px;
    }

    .logo{
        margin-top: 15px;
    }
    
    main{
        max-height: 100vh;
        margin: 45px auto;
    }
    
    body{
        min-height: 100vh;
    }
}

@media (max-width: 551px) {
    *{
        text-overflow: none;
    }
    
    main{
        min-height: 100vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .logo{
        margin-top: 10rem;
    }

    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .container h2{
        text-align: center;
        font-size: 1.5rem;
    }

    #form{

    }

    body{
        text-overflow: none;
    }
}

/* Animaciones */
@keyframes aparicion {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}